---
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = 'Galiana - Joyería de Minimalismo Sofisticado' } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico?v=4" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=4" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon.png?v=4" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png?v=4" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon.png?v=4" />
		<title>{title} | Galiana</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
